//fait une liste de couleur
  $primary: #f5f5f5;
  $secondary: #f5f5f5;
  $dark: #333;
  $white: #fff;
  $red: #ff0000;
  $green: #00ff00;
  $blue: #0000ff;
  $yellow: #ffff00;
  $orange: #ffa500;
  $purple: #800080;
  $pink: #ffc0cb;
  $brown: #a52a2a;
  $grey: #808080;
  $black: #000;